
<h1><%= @product.title %></h1>

<div class="top-content">
    <div class="average-rating">
        <span><% if @product.average_score %><%= sprintf '%.1f', @product.average_score %><% else %>–.–<% end %></span>
        <div class="stars" role="star-rating"
            data-rating=<%= (@product.average_score || 0).round %>
            data-rating-max="5"
            data-rating-readonly>
        </div>
    </div>
    <button id="btn-add-review">Add review</button>
</div>

<hr />

<h2>Reviews</h2>

<div class="reviews">
    <% @product.reviews.each do |review| %>
        <div class="review-row">
            <div class="stars" role="star-rating"
                data-rating=<%= review.score %>
                data-rating-max="5"
                data-rating-readonly>
            </div>
            <span>
                <b><%= review.score %></b><% if review.text -%>, <%= review.text %><% end %>
            </span>
        </div>
    <% end %>
    <% unless @product.reviews.any? %>
        <span>None yet.</span>
    <% end %>
</div>

<hr />

<%= react_component 'ProductDetail', { slug: params[:slug], formAuthenticityToken: form_authenticity_token } %>

<template id="starSvg">
    <svg class="rating-star" enable-background="new 0 0 53.867 53.867" version="1.1" viewBox="0 0 53.867 53.867" xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg">
        <defs>
            <style type="text/css">
                .star-full path { fill: #efce4a; }
                .star-half .star__left { fill: #efce4a; }
                .star-half .star__right { fill: #bfbfbf; }
                .star-empty path { fill: #bfbfbf; }
            </style>
        </defs>
        <path class="star__left" d="m26.902 1.3809-8.291 16.801-18.611 2.7051 13.467 13.127-3.1797 18.535 16.615-8.7344z" />
        <path class="star__right" d="m26.902 1.3809v42.434l0.03125-0.01563 16.645 8.75-3.1777-18.535 13.467-13.127-18.611-2.7051-8.3223-16.863z" />
    </svg>
</template>

<template id="rating-modal">
    <h1>What's your rating?</h1>
    <form method="POST" action="/products/submitReview">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
        <input name="slug" value=<%= @product.slug %> type="hidden" />
        <h5>Rating</h5>
        <div class="stars" role="star-rating"
            data-rating-max="5"
            data-rating-callback="ratingCallback">
        </div>
        <p class="error">Please enter a score</p>
        <h5>Review</h5>
        <textarea name="text" placeholder="Start typing..."></textarea>
        <button type="submit">Submit review</button>
    </form>
</template>

<script>
    function ratingCallback(score) {
        const stars = document.querySelector('.rating-modal .stars')
        stars.setAttribute('data-rating', score)
        document.querySelector('.rating-modal .error').style.visibility = 'hidden'
    }

    function submitReview(e) {
        const scoreAttr =
            document.querySelector('.rating-modal .stars').getAttribute('data-rating')

        if (scoreAttr === null) {
            document.querySelector('.rating-modal .error').style.visibility = 'visible'
            e.preventDefault()
            return false
        }

        const form = document.querySelector('.rating-modal form')
        const inputEl = document.createElement('input')
        Object.assign(inputEl, {
            type: 'hidden',
            name: 'score',
            value: scoreAttr,
        })
        form.appendChild(inputEl)

        return true
    }

    const ratingModal = new tingle.modal({
        cssClass: ['rating-modal'],
        onOpen: () => {
            const form = document.querySelector('.rating-modal form')
            form.addEventListener('submit', submitReview)

            const textarea = document.querySelector('.rating-modal textarea')
            textarea.focus()
        },
        beforeClose: () => {
            const form = document.querySelector('.rating-modal form')
            form.removeEventListener('submit', submitReview)
            return true
        },
    })
    const btn = document.querySelector('#btn-add-review')
    btn.addEventListener('click', function () {
        ratingModal.open()
    })
    ratingModal.setContent(document.querySelector('#rating-modal').innerHTML)
</script>

<%= javascript_pack_tag 'starrating', 'data-turbolinks-track': 'reload' %>
