<!DOCTYPE html>
<html>
  <head>
    <title>Orohro</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=0.4" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="root">
      <%= yield %>
    </div>
  </body>
</html>
